* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f7fb;
  padding: 40px;
}

/* #brand-name {
  background: red;
  margin: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  justify-items: center;
} */

/* Grid container */
#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

/* Product card */
.product-card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  position: relative;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

}

/* Hover effect */
.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

/* Image */
.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 12px;
}

/* Title */
.product-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #222;
  position: relative;
}

/* Description */
.product-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

/* Price */
.product-card strong {
  color: #2563eb;
  font-size: 18px;
}

.product-card button {
  margin-top: auto;
  height: 40px;
  display: block;
  width: 90%;
  color: #ffffff;
  background-color: black;
  border-radius: 10px;
  bottom: 10px;
}

span{
  color: #2563eb;
  position: absolute;
  top: 10px;
  font-weight: bold;
  font-size: small;
  background-color: lightslategrey;
  padding: 5px 3px;
  border-radius: 5px;
  width: 23%;
}
