* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  padding-top: 80px; /* match header height */
}

html {
  scroll-behavior: smooth;
}

/* ...header... */

#main_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  background: whitesmoke;
  z-index: 1000;
}

#header_menubar {
  cursor: pointer;
}

#header_menubar i {
  width: fit-content;
  height: 100%;
  color: black;
  background: none;
  font-size: xx-large;
  font-weight: bold;
}

#header_menubar i:hover {
  color: orange;
}

#branding img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#main_nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
#main_nav a {
  font-size: large;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

#main_nav a:hover {
  text-decoration: underline;
  color: orange;
}

/* ....hero Section.... */
#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: orange;
  color: black;
  padding: 100px 20px;
}

#hero_profile img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

#hero_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-style: oblique;
  font-size: larger;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

/* ....Assignment Cards.... */
#card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.card_item {
  display: flex;
  flex-direction: column;
  height: 300px;
  border-radius: 10px;
  margin: 30px auto;
  background-color: black;
  color: white;
}

.card_item img {
  display: flex;
  width: 350px;
  height: 50%;
  border-radius: 10px;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}
#card_inneritem {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
  margin: 0 40px;
}

#btn_cta {
  display: block;
  width: 90%;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: orange;
  color: white;
  padding: 10px 20px;
  margin: 5px auto;
  cursor: pointer;
}

#btn_cta:hover {
  background-color: white;
  color: black;
}

#btn_cta:hover i {
  color: black;
}

i {
  color: white;
}

/* ....Feedback Section.... */
#Feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid orange;
  width: 90%;
  padding: 3px 0;
  margin: 0 auto;
}

#Feedback h2 {
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 30px;
}

#Feedback_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#Feedback input {
  padding: 10px 40px;
  overflow: hidden;
  border: 1px solid black;
}

#Feedback input :focus-within {
  border: 1px solid orange;
}

#Feedback_cta {
  padding: 15px 30px;
  width: 40%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
}

#Feedback_cta:hover {
  background-color: orange;
}

#Feedback_box {
  resize: none;
  padding: 10px;
}

#Contact {
  background-color: black;
  color: white;
  margin-top: 20px;
}

#Contact_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 30px 0;
  font-size: large;
}

#Contact_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

#Contact_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#Contact_links a {
  text-decoration: none;
  color: white;
}

#Contact_links a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: orange;
}

#Contact_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

#Contact_text input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#Contact_messagebox {
  resize: none;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#Contact_btn {
  background-color: orange;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
}

#Contact_btn:hover {
  background: rgb(199, 131, 4);
  color: black;
}

#copyright {
  text-align: center;
  font-size: large;
  padding-bottom: 15px;
}

@media (max-width: 600px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  #main_nav a {
    display: none;
  }

  #hero {
    grid-template-columns: 1fr;
    width: 100%;
  }

  #hero_profile {
    text-align: center;
  }

  #hero_text {
    text-align: center;
  }

  #card_container {
    grid-template-columns: 1fr;
  }

  #Feedback_form {
    width: 90%;
  }

  #Feedback_box {
    border: 1px solid black;
    overflow: hidden;
  }

  #Contact_form {
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #Contact_title p {
    font-size: 16px;
  }

  #Contact_links{
    font-weight: bold;
  }

  #Contact_text{
    margin-top: 10px;
  }
}
