* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  padding-top: 80px;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* ...header... */

#main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

#header_menu {
  width: 20px;
  font-size: larger;
  font-weight: bolder;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

#header_menu:hover {
  background-color: orange;
}

#dropdown_nav {
  padding-left: 60px;
  padding-top: 15px;
  padding-bottom: 10px;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#dropdown_nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#dropdown_nav a:hover {
  color: orange;
}

#dropdown_nav.show {
  max-height: 300px;
}

#main_nav {
  display: flex;
  gap: 30px;
  overflow: hidden;
}

#main_nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#main_nav a:hover {
  color: orange;
}

#branding img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/* ....hero Section.... */
#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 100px 5% 50px;
  gap: 40px;
  background-color: orange;
}

#hero img {
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: auto;
}

#hero_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
  line-height: 1.5;
}

/* ....Assignment Cards.... */
#card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 40px 5%;
}

.card_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: black;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.card_item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

#card_inneritem {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: visible;
  gap: 10px;
  padding: 5px 20px;
}

#btn_cta {
  width: 90%;
  margin: 15px auto;
  padding: 10px;
  background: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn_cta:hover {
  background-color: white;
  color: black;
}

#btn_cta:hover i {
  color: black;
}

i {
  color: white;
}

/* ....Feedback Section.... */
#Feedback {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border: 1px solid orange;
  border-radius: 10px;
}

#Feedback_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#Feedback h2 {
  text-align: center;
  margin-bottom: 20px;
}

#Feedback_cta {
  padding: 15px 30px;
  width: 40%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
}

#Feedback_cta:hover {
  background-color: orange;
}

#Feedback_box {
  resize: none;
  padding: 10px;
}

#Contact {
  background-color: black;
  color: white;
  padding: 40px 20px;
}

#Contact_title {
  text-align: center;
  margin-bottom: 30px;
}

#Contact_form {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* LEFT SIDE */
#Contact_links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}

#Contact_links a {
  color: white;
  text-decoration: none;
}

#Contact_links a:hover {
  color: orange;
}

/* RIGHT SIDE */
#Contact_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#Contact_text input,
#Contact_messagebox {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

#Contact_btn {
  padding: 12px;
  background-color: orange;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

#Contact_btn:hover {
  background-color: rgb(199, 131, 4);
}

#copyright {
  text-align: center;
  font-size: large;
  padding-bottom: 15px;
}

@media (max-width: 900px) {
  #dropdown_nav {
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 10px;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  #dropdown_nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  #dropdown_nav a:hover {
    color: orange;
  }

  #dropdown_nav.show {
    max-height: 300px;
  }

  #main_nav {
    display: none;
  }

  #card_container {
    grid-template-columns: repeat(2, 1fr); /* tablet */
  }

  #hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #Feedback {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 1.5px solid orange;
    border-radius: 10px;
  }

  #Feedback h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  #Feedback_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: none;
    overflow: hidden;
  }

  #Feedback_form input,
  #Feedback_box {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    overflow: hidden;
  }

  #Feedback_box {
    resize: none;
  }

  #Contact_form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  #dropdown_nav {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  #dropdown_nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  #dropdown_nav a:hover {
    color: orange;
  }

  #dropdown_nav.show {
    max-height: 300px;
  }

  #main_nav {
    display: none;
  }

  #hero {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 15%;
    place-items: center;
    height: 80vh;
    padding: 10%;
  }

  #hero_text {
    margin-top: 20px;
    text-align: center;
  }

  #card_container {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .card_item {
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-bottom: 15px;
    margin: 15px auto;
  }

  .card_item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin: 0;
  }

  #btn_cta {
    width: 90%;
    margin: 10px auto 0;
    display: block;
    position: static;
  }

  #card_inneritem {
    padding: 10px 15px;
  }

  #Feedback {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 1.5px solid orange;
    border-radius: 10px;
  }

  #Feedback h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  #Feedback_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: none;
    overflow: hidden;
  }

  #Feedback_form input,
  #Feedback_box {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    overflow: hidden;
  }

  #Feedback_box {
    resize: none;
  }

  /* .rating_group label {
  display: flex;
  align-items: center;
  gap: 5px;
} */

  #Feedback_cta {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }

  #Feedback_cta:hover {
    background-color: orange;
  }

  #Contact_form {
    grid-template-columns: 1fr;
  }

  #Contact_text {
    width: 100%;
  }
}
