*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bdy1{
    background: #F8FAFC;
}

.nav-item{
}

.nav-item a:hover{
    color:#0EA5E9 ; 
}

.modal-body form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.d-flex{
    width: 100%;
}